@model CapaEN.SalonEN
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar salón</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="NombreSalon" class="control-label"></label>
                <input asp-for="NombreSalon" class="form-control" />
                <span asp-validation-for="NombreSalon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdEstado, ViewBag.Estados as SelectList, "Selecciona un estado", new { @class = "form-control" })
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IdTipoDeSalon" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdTipoDeSalon, ViewBag.tipos as SelectList, "Selecciona un tipo de habitación", new { @class = "form-control" })
                <span asp-validation-for="IdTipoDeSalon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

