<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserInterface</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserInterface.styles.css" asp-append-version="true" />
</head>
<body>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
        {
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hotel-Agape</a>  
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Habitacion" asp-action="Index">Habitaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Estado" asp-action="Index">Estados</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Salon" asp-action="Index">Salones</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user me-1"></i> @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index"><i class="fas fa-user me-1"></i> Usuarios</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index"><i class="fas fa-users-cog me-1"></i>Role</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ChangePassword"><i class="fas fa-key me-1"></i> Cambiar contraseña</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout"><i class="fas fa-sign-out-alt me-1"></i> Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
 @if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
 {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hotel-Agape</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex ">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Habitacion" asp-action="ViewUser">Habitaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Salon" asp-action="ViewSalon">Salones</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user me-1"></i> @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ChangePassword"><i class="fas fa-key me-1"></i> Cambiar contraseña</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout"><i class="fas fa-sign-out-alt me-1"></i> Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
  }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Hotel Agape - <a asp-area="" asp-controller="Habitacion" asp-action="Index">Habitación</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
