@model CapaEN.HabitacionEN

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-4">Editar Una Habitación</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group mt-3">
                    <label asp-for="NumeroDeHabitacion" class="control-label"></label>
                    <input asp-for="NumeroDeHabitacion" class="form-control" />
                    <span asp-validation-for="NumeroDeHabitacion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdEstado, ViewBag.Estados as SelectList, "Selecciona un estado", new { @class = "form-control" })
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IdTipoDeHabitacion" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdTipoDeHabitacion, ViewBag.tipos as SelectList, "Selecciona un tipo de habitación", new { @class = "form-control" })
                <span asp-validation-for="IdTipoDeHabitacion" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn btn-primary me-3" />

                <a asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Regresar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
